<h2>Create transfer</h2>

<form [formGroup]="createTransferForm" (ngSubmit)="onSubmit()">

  <mat-form-field class="example-full-width">
    <mat-label>Number</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Number"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (accountCode of filteredAccountCodes | async; track accountCode) {
      <mat-option [value]="accountCode">{{accountCode}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <br />
  <label>
    creditAccountCode:
    <input type="text" formControlName="creditAccountCode" />
  </label>
  <br />

  <br />
  <mat-form-field>
    <mat-label >transferAmount</mat-label>
    <input matInput formControlName="transferAmount">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="createTransferForm.invalid">Create</button>
</form>

